.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

/*For Desktop*/
@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}
